@import 'fonts.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

html,
body {
  height: 100%;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(16, 16, 29, 0.9);
  color: white;
}

.header {
  max-width: 1172px;
  width: 95%;
  margin: 0 auto;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;

  .header__logo {
    display: block;
    min-width: 246px;
    height: 22px;
    margin-right: 15px;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }

  .header__nav {
    overflow: hidden;

    .header__list {
      display: flex;
      align-items: center;
      text-align: center;
      list-style: none;
      padding-left: 0;
      gap: 60px;

      .header__item {
        .header__link {
          font-family: 'Lato';
          font-weight: 600;
          font-size: 13px;
          line-height: 16px;
          text-decoration: none;
          color: white;
          text-transform: uppercase;
        }

        :hover {
          color: #43ABF0;
        }
      }
    }
  }
}

main {
  flex: 1 0 auto;

  .banner-content {
    height: 750px;
    background-image: url('../img/main_image.jpg');
    background-repeat: no-repeat;
    background-position: -10px -100px;

    .banner-content__inner {
      max-width: 1172px;
      margin: 0 auto;
      padding-top: 102px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: black;

      .banner-content__tittle {
        font-family: 'Lato';
        font-weight: 700;
        font-size: 48px;
        line-height: 57px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 80px;

        span {
          color: #3E9CDC;
        }
      }

      .banner-content__description {
        font-family: 'Lato';
        font-weight: 700;
        font-size: 20px;
        margin: 10px 0;
      }

      .banner-content__list {
        font-family: 'Lato';
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        padding-left: 26px;
        margin: 0;
        margin-bottom: 80px;

        .banner-content__item {
          list-style-type: "-  ";
        }
      }

      .banner-content__buttons-container {
        display: flex;
        flex-direction: row;
        gap: 30px;

        .banner-content__btn {
          width: 183px;
          height: 43px;
          border-radius: 4px;
          background: #FFF;
          border: 1px solid #6F6D7B;
          font-family: 'Lato';
          font-weight: 400;
          font-size: 13px;
          text-transform: uppercase;
          cursor: pointer;

          &:hover {
            -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
          }

          &:active {
            -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
            -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
          }
        }

        .banner-content__btn_blue {
          color: #FFF;
          background: #3E9CDC;
          border: 1px solid #FFFFFF;

          &:hover {
            background: #43ABF0;
          }
        }
      }


    }
  }
}

footer {
  height: 80px;
  background: #3D4050;
  flex-shrink: 0;
}