@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");
@font-face {
  font-family: "Lato";
  src: local("Lato Hairline"), local("Lato-Hairline"), url("latohairline.woff2") format("woff2"), url("latohairline.woff") format("woff"), url("latohairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Hairline Italic"), local("Lato-HairlineItalic"), url("latohairlineitalic.woff2") format("woff2"), url("latohairlineitalic.woff") format("woff"), url("latohairlineitalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Thin"), local("Lato-Thin"), url("latothin.woff2") format("woff2"), url("latothin.woff") format("woff"), url("latothin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Thin Italic"), local("Lato-ThinItalic"), url("latothinitalic.woff2") format("woff2"), url("latothinitalic.woff") format("woff"), url("latothinitalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Light"), local("Lato-Light"), url("latolight.woff2") format("woff2"), url("latolight.woff") format("woff"), url("latolight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url("latolightitalic.woff2") format("woff2"), url("latolightitalic.woff") format("woff"), url("latolightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Regular"), local("Lato-Regular"), url("/src/fonts/lato/latoregular.woff2") format("woff2"), url("/src/fonts/lato/latoregular.woff") format("woff"), url("/src/fonts/lato/latoregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Italic"), local("Lato-Italic"), url("latoitalic.woff2") format("woff2"), url("latoitalic.woff") format("woff"), url("latoitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Medium"), local("Lato-Medium"), url("latomedium.woff2") format("woff2"), url("latomedium.woff") format("woff"), url("latomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Medium Italic"), local("Lato-MediumItalic"), url("latomediumitalic.woff2") format("woff2"), url("latomediumitalic.woff") format("woff"), url("latomediumitalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Semibold"), local("Lato-Semibold"), url("/src/fonts/lato/latosemibold.woff2") format("woff2"), url("/src/fonts/lato/latosemibold.woff") format("woff"), url("/src/fonts/lato/latosemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Semibold Italic"), local("Lato-SemiboldItalic"), url("latosemibolditalic.woff2") format("woff2"), url("latosemibolditalic.woff") format("woff"), url("latosemibolditalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Bold"), local("Lato-Bold"), url("/src/fonts/lato/latobold.woff2") format("woff2"), url("/src/fonts/lato/latobold.woff") format("woff"), url("/src/fonts/lato/latobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url("latobolditalic.woff2") format("woff2"), url("latobolditalic.woff") format("woff"), url("latobolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Heavy"), local("Lato-Heavy"), url("/src/fonts/lato/latoheavy.woff2") format("woff2"), url("/src/fonts/lato/latoheavy.woff") format("woff"), url("/src/fonts/lato/latoheavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Heavy Italic"), local("Lato-HeavyItalic"), url("latoheavyitalic.woff2") format("woff2"), url("latoheavyitalic.woff") format("woff"), url("latoheavyitalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Black"), local("Lato-Black"), url("latoblack.woff2") format("woff2"), url("latoblack.woff") format("woff"), url("latoblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Black Italic"), local("Lato-BlackItalic"), url("latoblackitalic.woff2") format("woff2"), url("latoblackitalic.woff") format("woff"), url("latoblackitalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
html,
body {
  height: 100%;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(16, 16, 29, 0.9);
  color: white;
}

.header {
  max-width: 1172px;
  width: 95%;
  margin: 0 auto;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
.header .header__logo {
  display: block;
  min-width: 246px;
  height: 22px;
  margin-right: 15px;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.header .header__nav {
  overflow: hidden;
}
.header .header__nav .header__list {
  display: flex;
  align-items: center;
  text-align: center;
  list-style: none;
  padding-left: 0;
  gap: 60px;
}
.header .header__nav .header__list .header__item .header__link {
  font-family: "Lato";
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.header .header__nav .header__list .header__item :hover {
  color: #43ABF0;
}

main {
  flex: 1 0 auto;
  width: 100%;
}
main .banner-content {
  height: 750px;
  background-image: url("../img/main_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(16, 16, 29, 0.9);
}
main .banner-content .banner-content__inner {
  max-width: 1172px;
  margin: 0 auto;
  padding-top: 102px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
}
main .banner-content .banner-content__inner .banner-content__tittle {
  font-family: "Lato";
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 80px;
}
main .banner-content .banner-content__inner .banner-content__tittle span {
  color: #3E9CDC;
}
main .banner-content .banner-content__inner .banner-content__description {
  font-family: "Lato";
  font-weight: 700;
  font-size: 20px;
  margin: 10px 0;
}
main .banner-content .banner-content__inner .banner-content__list {
  font-family: "Lato";
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  padding-left: 26px;
  margin: 0;
  margin-bottom: 80px;
}
main .banner-content .banner-content__inner .banner-content__list .banner-content__item {
  list-style-type: "-  ";
}
main .banner-content .banner-content__inner .banner-content__buttons-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
main .banner-content .banner-content__inner .banner-content__buttons-container .banner-content__btn {
  width: 183px;
  height: 43px;
  border-radius: 4px;
  background: #FFF;
  border: 1px solid #6F6D7B;
  font-family: "Lato";
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
}
main .banner-content .banner-content__inner .banner-content__buttons-container .banner-content__btn:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
main .banner-content .banner-content__inner .banner-content__buttons-container .banner-content__btn:active {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}
main .banner-content .banner-content__inner .banner-content__buttons-container .banner-content__btn_blue {
  color: #FFF;
  background: #3E9CDC;
  border: 1px solid #FFFFFF;
}
main .banner-content .banner-content__inner .banner-content__buttons-container .banner-content__btn_blue:hover {
  background: #43ABF0;
}
main .order {
  height: 920px;
  background-image: url("../img/world_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(16, 16, 29, 0.9);
}
main .order .order__inner {
  max-width: 1172px;
  max-height: 648px;
  margin: 0 auto;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFF;
}
main .order .order__inner .order__title {
  margin: 0;
  text-transform: uppercase;
  font-family: "Lato";
  font-weight: 800;
  font-size: 36px;
}
main .order .order__inner .order__title span {
  color: #3E9CDC;
}
main .order .order__inner .order__description {
  font-family: "Lato";
  font-weight: 400;
  font-size: 18px;
  margin: 30px 0 80px 0;
}
main .order .order__inner .order__scheme {
  width: 1168px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 72px;
}
main .order .order__inner .order__scheme .order__scheme-item {
  width: 209px;
}
main .order .order__inner .order__scheme .order__scheme-item p {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
}
main .order .order__inner .order__scheme .order__point {
  position: relative;
  top: 47px;
  min-width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #c4c4c4;
}
main .order .order__inner .order__scheme .order__point::after, main .order .order__inner .order__scheme .order__point::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #c4c4c4;
}
main .order .order__inner .order__scheme .order__point::after {
  left: 26px;
}
main .order .order__inner .order__scheme .order__point::before {
  right: 26px;
}
main .order .order__inner .order__scheme .order__point .order__point-pseudo::after, main .order .order__inner .order__scheme .order__point .order__point-pseudo::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #c4c4c4;
}
main .order .order__inner .order__scheme .order__point .order__point-pseudo::after {
  left: 52px;
}
main .order .order__inner .order__scheme .order__point .order__point-pseudo::before {
  right: 52px;
}
main .order .order__inner .order__input-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .order .order__inner .order__input-form select {
  outline: 0;
  color: #272733;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
main .order .order__inner .order__input-form select option {
  color: #FFF;
  background-color: rgba(39, 39, 51, 0.9);
}
main .order .order__inner .order__input-form #order__select-list,
main .order .order__inner .order__input-form .order__input {
  width: 370px;
  height: 48px;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 3px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 18px;
}
main .order .order__inner .order__input-form #order__select-list {
  padding-left: 9px;
  cursor: pointer;
}
main .order .order__inner .order__input-form .order__input {
  margin-bottom: 30px;
  padding-left: 8px;
  box-sizing: border-box;
}
main .order .order__inner .order__input-form .range-line .range-line__text-container {
  display: flex;
  justify-content: space-between;
}
main .order .order__inner .order__input-form .range-line .range-line__text-container .range-line__text,
main .order .order__inner .order__input-form .range-line .range-line__text-container #range-line__value {
  font-family: "Lato";
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 15px;
}
main .order .order__inner .order__input-form .range-line input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: rgba(255, 255, 255, 0.7);
  width: 773px;
  height: 6px;
  padding: 0;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
main .order .order__inner .order__input-form .range-line input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 5px;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background: #42A9ED;
  border: 3px solid #286690;
}
main .order .order__inner .order__input-form .range-line input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-border-radius: 5px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #42A9ED;
  border: 3px solid #286690;
}
main .order .order__inner .order__input-form .order__btn_add,
main .order .order__inner .order__input-form .order__btn_send {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: "Lato";
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  cursor: pointer;
}
main .order .order__inner .order__input-form .order__btn_add:hover,
main .order .order__inner .order__input-form .order__btn_send:hover {
  box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 0.2);
}
main .order .order__inner .order__input-form .order__btn_add:active,
main .order .order__inner .order__input-form .order__btn_send:active {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}
main .order .order__inner .order__input-form .order__btn_add .btn_add-img,
main .order .order__inner .order__input-form .order__btn_send .btn_add-img {
  margin-right: 8px;
}
main .order .order__inner .order__input-form .order__btn_add {
  padding: 0;
  padding-right: 10px;
  background: #FFF;
  border: 2px solid #3E9CDC;
  margin-bottom: 55px;
}
main .order .order__inner .order__input-form .order__btn_send {
  margin: 0 auto;
  background: #3E9CDC;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  color: #FFF;
}
main .order .order__inner .order__input-form .order__btn_send:hover {
  background: #43ABF0;
}

footer {
  min-height: 80px;
  background: #3D4050;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer__inner {
  max-width: 1172px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
  font-family: "Lato";
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
footer .footer__inner hr {
  height: 18px;
  margin: 0;
}
footer .footer__inner a {
  text-decoration: none;
}
footer .footer__inner .footer__item {
  text-decoration: none;
  color: #C3C3C3;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer__inner .footer__item .footer__item-img {
  margin-right: 10px;
}/*# sourceMappingURL=styles.css.map */